body {
    font-size: 1rem;
    margin: auto;
}

.base-footer,
.base-head {
    display: -webkit-box;
    background-color: #0275d8;
    border-bottom: 2px solid #ddd;
    height: 40px;
    color: white;
    -webkit-transition: all 350ms;    
}