doctype html
html
    head
        title demo
        link(
            href="https://unpkg.com/antd/dist/antd.min.css"
            rel="stylesheet"
        )
    body
        div#base-container
script(
    src='http://127.0.0.1:4337/static/bundle.js'
    type='text/javascript'
)
