body {
    font-size: 1rem;
    margin: auto;
}

.base-footer,
.base-head {
    display: -webkit-box;
    background-color: #0275d8;
    border-bottom: 2px solid #ddd;
    height: 40px;
    color: white;
    -webkit-transition: all 350ms;    
}

.platform-name {
    color: white;
    margin: 6px 0 2px 10px;
}

.platform-sign-out a:visited,
.platform-sign-out a {
    color: white;
    position: fixed;
    right: 0;
    margin: 6px;
}