doctype html
html
    head
        title demo
        style
            include ../static/style/base.scss
    body
        include top.pug
        div#base-component
        include footer.pug
script(src='http://127.0.0.1:4337/static/bundle.js')