doctype html
html
    head
        title demo
        link(
            href="http://127.0.0.1:1337/static/css/lib/bootstrap.min.css"
            rel="stylesheet"
        )
    style
        include ./base.css
    body
        include head.pug
        div#base-container
        div#global-dialog
        include footer.pug
