doctype html
html
    head
        title demo
        style
            include ../static/style/base.scss
    body
        include top.pug
        div#main
            div testdemo is string
        include footer.pug