doctype html
html
    head
        title demo
        link(
            href="http://127.0.0.1:1337/static/css/lib/bootstrap.min.css"
            rel="stylesheet"
        )
        link(
            href="http://127.0.0.1:1337/static/css/base.css"
            rel="stylesheet"
        )
        style
            include login.css
    body
        .user-login 
            .content
                form
                  .form-group
                    label(for='username') 用户名
                    input#username.form-control(type='text', placeholder='请输入用户名')
                  .form-group
                    label(for='password') 密码
                    input#password.form-control(type='text', placeholder='请输入密码')
                  .form-group
                    button.btn.btn-primary.sign-in(type='button') 登录
                    button.btn.btn-primary.sign-up(type='button') 注册

        include ../footer.pug

    script(type='text/javascript').
        $('.sign-in').click(function(){
            document.location.href = 'http://127.0.0.1:1337/';
        });